.table {
  width: 100%;
}

.caption {
  text-align: left;
  font-size: var(--fz-l);
}

.row td {
  padding: 3px;
}

.row:nth-child(odd) {
  background-color: var(--translucent-prim-color);
}

.row:nth-child(even) {
  background-color: var(--translucent-sec-color);
}

.actionsBlock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.actionsBlock > button {
  padding: 2px;
}

.edit {
  background-color: var(--primary-color);
}

.delete {
  background-color: var(--warning-color);
}
